@use "vars";
@use "mixins";

.content {
  max-width: vars.$contentMaxWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 vars.$contentPaddingX;
}

.block {
  padding: 5rem 0;
}

.block_second {
  @extend .block;
  background: vars.$secondBlockColor;
}

.block__title {
  font-size: vars.$xlFontSize;
  text-align: center;
  font-weight: 700;
}


@include mixins.media(sm){
  .block {
    padding: 4rem 0;
  }
}