* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;

  &.block-scroll{
    overflow: hidden;
  }
}

@import "general",
"components/switcher_lang",
"components/header",
"components/preview",
"components/about-me",
"components/skills",
"components/portfolio",
"components/contacts";